<h1>Your Cocktail choice</h1>
<%= @cocktail.name %>
 <%= cl_image_tag @cocktail.photo.url, height: 300, width: 400, crop: :fill %>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <% end %>
     <%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
     <%= link_to "Destroy Dose", dose_path(@cocktail), method: :delete, data: {confirm: 'are you sure?'}, class: "btn btn-danger" %>
<br>


<%= link_to "Back Home", cocktails_path, class: "btn btn-primary"  %>


