<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCoktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar fixed-top navbar-light bg-white border-solid">
        <a class="navbar-brand" href="#">Wagon's Cocktails</a>
        <%= link_to "Create a new Cocktail", new_cocktail_path(@cocktail), class: "btn-cocktail"  %>
      </nav>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
